<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ohio North Data Saturday</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'datavent/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'datavent/style.css' %}">
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Ohio North Data Saturday</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Schedule</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">More...</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Monthly Meetings</a></li>
                <li><a class="dropdown-item" href="#">FAQs</a></li>
                <li><a class="dropdown-item" href="#">Call for Speakers</a></li>
                <li><a class="dropdown-item" href="#">Sponsorship Plans</a></li>
                <li><a class="dropdown-item" href="#">Code of Conduct</a></li>
                <li><a class="dropdown-item" href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

    <div class="px-4 py-5 my-5 text-center">
      <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ohio North Data Saturday</h1>
      <h3 class="display-8 fw-bold text-body-emphasis lh-1 mb-3">February 3, 2024</h3>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Data Saturday is a FREE one-day data-focused community conference. </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Register</button>
        </div>
      </div>
    </div>


    <script type="text/javascript" src="https://sessionize.com/api/v2/bghcxs7l/view/GridSmart"></script>
    <script src="{% static 'datavent/bootstrap.js' %}"></script>
  </body>
</html>
