<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ohio North Data Saturday</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <link rel="icon" type="image/png" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/style.css">
    {% block headscript %}
    {% endblock headscript %}
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ohio North Data Saturday</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link {% if request.url.path == '/' %}active{% endif %}" {% if request.url.path == '/' %}aria-current="page"{% endif %} href="/">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url.path == '/register' %}active{% endif %}" {% if request.url.path == '/register' %}aria-current="page"{% endif %} href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {% if request.url.path == '/schedule' %}active{% endif %}" {% if request.url.path == '/schedule' %}aria-current="page"{% endif %} href="/schedule">Schedule</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">More...</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item disabled" href="#">Monthly Meetings</a></li>
                <li><a class="dropdown-item disabled" href="#">FAQs</a></li>
                <li><a class="dropdown-item disabled" href="#">Call for Speakers</a></li>
                <li><a class="dropdown-item disabled" href="#">Sponsorship Plans</a></li>
                <li><a class="dropdown-item" href="code-of-conduct">Code of Conduct</a></li>
                <li><a class="dropdown-item disabled" href="#">Contact</a></li>
              </ul>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock content %}
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock js %}
  </body>
</html>
