{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Code of Conduct</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">ONDT events seek to create a respectful, friendly, patient, considerate, and inclusive event experience, and an environment where all participants feel welcome.</p>
      
    <p class="lead mb-4">We therefore ask all participants to honor this Code of Conduct. Any kind of disruptive, intolerant or inappropriate behavior will not be tolerated, and we reserve the right to remove any participants who violate our Code of Conduct from the event.</p>
      
    <p class="lead mb-4">We do not tolerate any harassment or discrimination. Although this list cannot be exhaustive, we explicitly honor diversity in age, gender, gender identity or expression, culture, ethnicity, language, national origin, profession, race, religion, sexual orientation, socioeconomic status, physical and psychological ability, and technical ability.</p>
      
    <p class="lead mb-4">The organizer of this event will prioritize marginalized people’s safety over privileged people’s comfort. Please report any concerns, harassing behavior, suspicious, or disruptive activity to the event organizer or staff.</p>
  </div>
</div>
{% endblock content %}
