{% extends 'base.html' %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
  <!-- <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
  <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Ohio North Data Saturday</h1>
  <h3 class="display-8 fw-bold text-body-emphasis lh-1 mb-3">February 3, 2024</h3>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Data Saturday is a FREE data-focused community conference.</p>
    <p class="lead mb-4">Join us for a full-day of sessions on databases, the cloud, python, and more, as well as network with local data professionals.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a class="btn btn-primary btn-lg px-4 gap-3" href="/register">Register Now</a>
    </div>
  </div>
</div>
{% endblock content %}
