{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Register</h1>
  </div>
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill" id="cart-count">3</span>
      </h4>
      <ul class="list-group mb-3" id="cart-list">
      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="button" class="btn btn-secondary" id="coupon-redeem">Redeem</button>
        </div>
      </form>
    </div>
    <div class="col-md-7 col-lg-8">
      
      <form>
        <h3>Personal Info</h3>
        <p> Please fill out all of the below information and submit to confirm your registration.</p>
        <div class="row">
          <div class="col-8 mb-3">
            <label for="emailAddress" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="emailAddress" aria-describedby="emailAddressHelp">
            <div id="emailAddressHelp" class="form-text"></div>
          </div>
        </div>

        <div class="row">
          <div class="col-4 mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName">
          </div>
          <div class="col-4 mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName">
          </div>
        </div>
        <div class="row">
          <div class="col-8 mb-3">
            <label for="badgeDisplayName" class="form-label">Badge Display Name</label>
            <input type="text" class="form-control" id="badgeDisplayName" aria-describedby="badgeDisplayNameHelp">
            <div id="badgeDisplayNameHelp" class="form-text">Your name as you want it to appear on your printed badge. If blank, we will use your first and last name from above.</div>
          </div>
        </div>

        <hr class="my-4 col-8">

        {% if products|length > 1 %}
        <h3>Add-Ons</h3>
        <p>Please select any offerings you would like to include as part of your registration.</p>
        
          {% for product in products %}
            {% if product["name"] == "Registration" %}
            <input type="hidden" class="product" id="{{ product['id'] }}" checked="checked" data-price="{{ product['price'] }}" data-description="{{ product['description'] }}" data-name="{{ product['name'] }}">
            {% else %}
            <div class="col mb-3 form-check">
              <input type="checkbox" class="form-check-input product" id="{{ product['id'] }}" data-price="{{ product['price'] }}" data-description="{{ product['description'] }}"  data-name="{{ product['name'] }}">
              <label class="form-check-label" for="{{ product['name'] }}">{{ product['price'] }} - {{ product['description'] }}</label>
            </div>
            {% endif %}
          {% endfor %}

        {% endif %}

        <hr class="my-4 col-8">

        <div class="row">
          <div class="col-8 mb-3">
            <button type="submit" class="btn btn-primary btn-lg w-100">Continue to checkout</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  

  
</div>
{% endblock content %}

{% block js %}
<script src="/static/js/register.js"></script>
{% endblock js %}
